################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cpp_classic_roguelike
/cpp_classic_roguelike/x64
/x64
cpp_classic_roguelike/platforms/SDL3/SDL3/include
cpp_classic_roguelike/platforms/SDL3/SDL3/libs

*.vcxproj
*.vcxproj.*